# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# ENTORNOS VIRTUALES
# =========================
.venv/
venv/
env/
ENV/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# BASES DE DATOS LOCALES
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log

# =========================
# ARCHIVOS TEMPORALES
# =========================
tempCodeRunnerFile.py

# =========================
# TESTS Y CACHE
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# BUILD
# =========================
dist/
build/
*.egg-info/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db